<div class="search-container">

  <div class="search-bar">
    <input type="text"
           [(ngModel)]="searchTerm"
           placeholder="Enter product name..."
           name="searchInput" />
    <button (click)="searchProducts()">Search</button>
  </div>

  <div class="results" *ngIf="filteredProducts.length > 0; else noResults">
    <div *ngFor="let product of filteredProducts" class="product-card"  (click)="selectProduct(product)">
      <h3>{{ product.Name }}</h3>
      <p>Price: {{ product.Price | currency }}</p>
      <p>Stock: {{ product.Stock }}</p>
    </div>
  </div>

  <ng-template #noResults>
    <p>No products found.</p>
  </ng-template>
</div>
